{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky-Log In{% endblock %}

{%block page_content%}
    <div class='container' align=center>
        <div class="row">
            <div class="col-4 col-offset-4 col-md-4 col-md-offset-4">
                <h1 align="center">Log In</h1>
                {{ wtf.quick_form(form) }}
                <p><br>New user?<a href="{{ url_for('auth.signup') }}">Click here to register</a>
                </p>
            </div>
        </div>
    </div>
{%endblock%}